.page_title {
  background-color: white;
  text-align: left;
  padding: 1vh 2vw;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 5px;
  text-shadow: 3px 3px 3px gray;
}

.layout_content {
  padding: 3vh 2vw;
}

.page_title_2 {
  background-color: white;
  text-align: left;
  padding: 1vh 2vw;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 5px;
}

.banner {
  margin-top: 3vh;
  width: 22vw;
  height: 22vh;
  border-radius: 10px;
  /* overflow: hidden; */
}

.img {
  border-radius: 10px;
}

.right_text {
  margin-top: 3vh;
  padding-left: 2vw;
  text-align: left;
  font-size: 1rem;
}

.intro {
  background-color: white;
  margin-top: 1.5vh;
  padding: 0.5vh 3vw;
  border-radius: 10px;
  margin-bottom: 2vh;
}

.card {
  padding: 2vh 2vw;
  /* border: 1px solid gray; */
  border-radius: 10px;
  width: 60%;
  margin-left: 20%;
  height: 28vh;
  vertical-align: middle;
  margin: 4vh auto;
  box-shadow: 0px 0px 3px 3px rgb(215, 215, 215);
  background-color: rgb(255, 254, 243);
  margin-bottom: 2px;
}

.bonus {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1vh;
}


