.menu-right {
    float: right;
    text-align: right;
}

.header {
    display: flex;
    justify-content:space-between;
    border-bottom: 3px solid black;
}

.logo {
    max-width: 95%;
    max-height: 80%;
    cursor: pointer;
}

.logo_outer {
    height: 95%;
}